.event {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  background-color: #31393c;
  border-radius: 32px;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.description {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

.dateWrap {
  display: flex;
  margin: 20px 0;
}

.date {
  margin: 0 10px;
  color: #ffffff;
  font-size: 18px;
}

span {
  font-weight: 700;
  color: #fdca40;
}

.statusWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusHeading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.status {
  font-weight: 900;
  font-size: 25px;
  color: #fdca40;
  margin: 10px 0;
}

.moreInfo {
  background-color: transparent;
  border: none;
  color: #8bcdcd;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 700;
}

.voucherSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #c7ced1;
  margin: 20px 0;
}

.code {
  color: #31393c;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 32px;
  margin-bottom: 0;
}
