.event {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  border: 1px solid #31393c;
  border-radius: 32px;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}

.title {
  color: #31393c;
  font-size: 56px;
  font-weight: 900;
  margin: 0;
}

.description {
  color: #31393c;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}

img {
  width: 400px;
  height: auto;
}
